<?xml version="1.0"?>
<launch>

    <arg name="model" default="$(find crawler_robot_ros)/urdf/crawler_robot.urdf"/>
    <arg name="rvizconfig" default="$(find crawler_robot_ros)/rviz/urdf.rviz" />

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

    <!-- start drrobot_jaguar_v6_node -->
    <node pkg="drrobot_jaguar_v6" type="drrobot_jaguar_v6_node" name="drrobot_jaguar_v6_node" output="screen" />

    <!-- start joy_node -->
    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="_dev" value="/dev/input/js0" />
    </node>

    <!-- start teleop_crawler -->
    <node pkg="crawler_robot_ros" type="teleop_crawler" name="teleop_crawler" output="screen" >
        <rosparam command="load" file="$(find crawler_robot_ros)/config/logitech_extreme.yaml"/>
    </node>

    <!-- start robot_state_publisher and rviz -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    <!-- start axis_camera -->
    <node pkg="axis_camera" type="axis.py" name="axis" >
        <param name="hostname" value="192.168.0.65:8081" />
        <param name="username" value="root" />
        <param name="password" value="drrobot" />
    </node>

                <!-- VELODYNE -->
    <!-- declare arguments with default values -->
    <arg name="calibration" default="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
    <arg name="device_ip" default="" />
    <arg name="frame_id" default="velodyne" />
    <arg name="manager" default="$(arg frame_id)_nodelet_manager" />
    <arg name="max_range" default="130.0" />
    <arg name="min_range" default="0.4" />
    <arg name="pcap" default="" />
    <arg name="port" default="2368" />
    <arg name="read_fast" default="false" />
    <arg name="read_once" default="false" />
    <arg name="repeat_delay" default="0.0" />
    <arg name="rpm" default="600.0" />
    <arg name="cut_angle" default="-0.01" />
    <arg name="laserscan_ring" default="-1" />
    <arg name="laserscan_resolution" default="0.007" />

    <!-- start nodelet manager and driver nodelets -->
    <include file="$(find velodyne_driver)/launch/nodelet_manager.launch">
    <arg name="device_ip" value="$(arg device_ip)"/>
    <arg name="frame_id" value="$(arg frame_id)"/>
    <arg name="manager" value="$(arg manager)" />
    <arg name="model" value="VLP16"/>
    <arg name="pcap" value="$(arg pcap)"/>
    <arg name="port" value="$(arg port)"/>
    <arg name="read_fast" value="$(arg read_fast)"/>
    <arg name="read_once" value="$(arg read_once)"/>
    <arg name="repeat_delay" value="$(arg repeat_delay)"/>
    <arg name="rpm" value="$(arg rpm)"/>
    <arg name="cut_angle" value="$(arg cut_angle)"/>
    </include>

    <!-- start cloud nodelet -->
    <include file="$(find velodyne_pointcloud)/launch/cloud_nodelet.launch">
    <arg name="calibration" value="$(arg calibration)"/>
    <arg name="manager" value="$(arg manager)" />
    <arg name="max_range" value="$(arg max_range)"/>
    <arg name="min_range" value="$(arg min_range)"/>
    </include>

    <!-- start laserscan nodelet -->
    <include file="$(find velodyne_pointcloud)/launch/laserscan_nodelet.launch">
    <arg name="manager" value="$(arg manager)" />
    <arg name="ring" value="$(arg laserscan_ring)"/>
    <arg name="resolution" value="$(arg laserscan_resolution)"/>
    </include>

    <!-- start static_transform_publisher in order to show velodyne on base_link fixed frame -->
    <node pkg="tf" type="static_transform_publisher" name="velodyne_to_baselink" args="0 0 0.4 -1.57 0 0 base_link velodyne 100" />

</launch>

