<?xml version="1.0"?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->

  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="dev"         default="/dev/input/js0"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find jaguar_ros)/urdf/model.urdf"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find jaguar_ros)/worlds/stairs.world"/>
    <!-- more default parameters can be changed here -->
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="true" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find jaguar_ros)/urdf/model.urdf -urdf -z 1 -model robot" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="_dev" value="$(arg dev)" />
  </node>

  <node name="pcl_filter" pkg="chapter6_tutorials" type="pcl_filter"
        output="screen">
  </node>

  <node name="pcl_downsampling" pkg="chapter6_tutorials" type="pcl_downsampling"
        output="screen">
  </node>

  <node name="pcl_stairs" pkg="chapter6_tutorials" type="pcl_stairs"
        output="screen">
  </node>

  <node pkg="jaguar_ros" type="teleop_jaguar" name="teleop_jaguar"
        output="screen" >
  </node>

  <node name="rviz" pkg="rviz" type="rviz" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>

  

  

</launch>